<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>header}}
    <link rel="stylesheet" href="css/bookstyle.css">
    <title>Document</title>
</head>

<body>
    {{>navbar}}

    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="images/shashii.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Shashi Chaubey</h5>
                        <p class="card-text">Full stack Developer,Coder and a GOOD communication skills.</p>
                        <a href="https://github.com/humbleshashi8104" class="btn btn-primary">Github</a>
                    </div>
                </div>
            </div>

            
            <div class="col-lg-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="images/aman.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Aman Nanda</h5>
                        <p class="card-text">Full stack Developer,Coder and a GOOD communication skills .</p>
                        <a href="https://github.com/Aman1143" class="btn btn-primary">Github</a>
                    </div>
                </div>
            </div>
            
<div class="col-lg-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="images/akashh.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Akash</h5>
                        <p class="card-text">Full stack Developer,Coder and a GOOD communication skills .</p>
                        <a href="https://github.com/Aman1143" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
    {{>footer}}

</body>

</html>