<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>header}}
    <link rel="stylesheet" href="css/bookstyle.css">

</head>

<body>
    {{>navberSea}}
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="images/ani1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Demon Slayer-1</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Check Out</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="images/ani2.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Demon Slayer-2</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Check Out</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="images/ani3.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Naruto</h5>
                        <p class="card-text">Based on a timid and shy boy who found his powers hidden in him after an incident.</p>
                        <a href="#" class="btn btn-primary">Check Out</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="images/ani4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Solo Leveling</h5>
                        <p class="card-text">Based on a girl superhero , with an outstanding story and this book is one of the 
                            highest selling books in whole japan when it is released.</p>
                        <a href="#" class="btn btn-primary">Check Out</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="images/ani5.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Death Note</h5>
                        <p class="card-text">Based on a smart college student who found a Notebook somewhere lying which has a capability that
                             if u write someone's name on it they will be dead in just 6 minutes.</p>
                        <a href="#" class="btn btn-primary">Check Out</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="images/ani6.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Jets comics</h5>
                        <p class="card-text">Based on a hero , who is a kind of weak initially, shy but an incident made him tough and strong.</p>
                        <a href="#" class="btn btn-primary">Check Out</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="images/ani7.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Steins Gate</h5>
                        <p class="card-text">Based on thriller time story, one of the highest rated manga in the whole world.</p>
                        <a href="#" class="btn btn-primary">Check Out</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="images/ani8.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Tokyo Ghoul</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Check Out</a>
                    </div>
                </div>
            </div>
         <div class="col-lg-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="images/ani9.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Tokyo Revengers</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Check Out</a>
                    </div>
                </div>
            </div>

        </div>
    </div>




    {{>footer}}

















    {{>script}}
    <script src="mainjs/search.js"></script>

</body>

</html>