<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {{>header}}
    <title>Document</title>
</head>
<body>
    {{>navbar}}

<section id="contact"  >
        <div id="contact-box">
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" name="email" id="email" required autocomplete="off" placeholder="Enter your email">
                </div>
                  <div class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password" required placeholder="Enter your Password">
                </div>
                 <button class="form-control btn btn-primary" type="submit">Login</button>
        </div>
    </section>


    {{>footer}}
</body>
</html>