<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>header}}
    <link rel="stylesheet" href="css/bookstyle.css">

</head>

<body>
    {{>navberSea}}
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="images/rom1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">The Notebook</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Check Out</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="images/rom2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Bridgerton you and I</h5>
                        <p class="card-text">The two main characters, Daphne and Simon, fake a relationship to make the most of the season. Daphne wants
                             more marriage prospects, and if Simon, a duke, shows interest, then others will as well.  </p>
                        <a href="#" class="btn btn-primary">Check Out</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="images/rom3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">The Love Hypothesis</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Check Out</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="images/rom4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">The Viscount Who Loves me</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Check Out</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="images/rom5.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">A wicked Game</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Check Out</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="images/rom6.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Celestial Mechanics</h5>
                        <p class="card-text">As Lucy Muchelney watches her ex-lover's sham of a wedding, she wishes herself anywhere else.
                             It isn't until she finds a letter from the Countess of Moth, looking for someone to translate a groundbreaking
                              French astronomy text, that she knows where to go. </p>
                        <a href="#" class="btn btn-primary">Check Out</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="images/rom7.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Twin Crowns</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Check Out</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="images/rom8.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Secret Under The Stars</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Check Out</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="images/rom9.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Fallen</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Check Out</a>
                    </div>
                </div>
            </div>


        </div>
    </div>


















  {{>footer}}

    {{>script}}
    <script src="mainjs/search.js"></script>

</body>

</html>