 <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>Library</h4>
  	 			<ul>
  	 				<li><a href="/about">about us</a></li>
  	 				<li><a href="#">our services</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>get help</h4>
  	 			<ul>
  	 				<li><a href="#">FAQ</a></li>
  	 				<li><a href="#">shipping</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>online Book</h4>
  	 			<ul>
  	 				<li><a href="#">English</a></li>
  	 				<li><a href="#">Hindi</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="https://www.facebook.com/aman.nanda.980315"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="https://twitter.com/AmanNan46640269"><i class="fab fa-twitter"></i></a>
  	 				<a href="https://www.instagram.com/nandaaman2021/"><i class="fab fa-instagram"></i></a>
  	 				<a href="https://www.linkedin.com/in/aman-nanda-056512234/"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>
